<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
    <div>
      <div>
        <h1>List Of Games</h1>
        <table style="width:100%">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>GENRE</th>
            <th>RATING</th>
            <th>RELEASE DATE</th>
          </tr>
          <tr *ngFor="let game of gameList" >
            <td>{{game.id}}</td>
            <td>{{game.name}} </td>
            <td>{{game.genre}}</td>
            <td>{{game.rating}} </td>
            <td *ngIf="game.releaseDate">{{game.releaseDate}}</td>
          </tr>
        </table>
        <app-games-list></app-games-list>
      </div>
    </div>
  </body>
</html>
