<div class="selectedItem" *ngIf="item" style="border: 2px solid;">
  <h3>{{ item.name }}</h3>
  <p>ID: {{ item.id }}</p>
  <p>Genre: {{ item.genre }}</p>
  <p>Rating: {{ item.rating }}</p>
  <p *ngIf="item.releaseDate">Release Date: {{ item.releaseDate }}</p>
</div>
<div *ngIf="game" style="border: 2px solid;">
  <h3>{{ game.name }}</h3>
  <p>ID: {{ game.id }}</p>
  <p>Genre: {{ game.genre }}</p>
  <p>Rating: {{ game.rating }}</p>
  <p *ngIf="game.releaseDate">Release Date: {{ game.releaseDate }}</p>
</div>
