.selectedItem {
  background-color: white;
  text-align: center;
}
div {
  background: gray;
}
div:nth-of-type(odd) {
  background: teal;
}

div:nth-of-type(even) {
  background: pink;
}
div {
  margin: 10px 0 10px 0;
}
