.selectedItem {
  background-color: white;
  p, h3{
    text-align: center;
    background-color: white;
  }
}
div {
  background: gray;
}
p:nth-of-type(odd) {
  background: teal;
}

p:nth-of-type(even) {
  background: pink;
}
div {
  margin: 10px 0 10px 0;
}
